
$primaryDarkBlue: rgb(35, 76, 100);
$primaryLightBlue: rgb(74, 137, 168);
$primaryWhite: azure ;
$black: black;
$primaryOrange: #F49B32 ;
$bodyFont-family: 'IBM Plex Sans', sans-serif ;
$hFont-family: 'Poppins', sans-serif ;