
@import"./variables";
@import "./header-admin";

body{
    margin: 0;
}

a {
    text-decoration: none;
}

label {
    display: block;
}

header{
    button{
        padding: 5px;
        font-size: 1em;
    }
}

form {
    max-width: 400px;
    margin: 0 auto;

    div {
        margin-bottom: 15px;
    }

    input {
        width: 100%;
        padding: 5px;
    }
}

main{
    button {
        width: 100%;
        height: 40px;
        background: $primaryOrange;
        color: $black;
        border: none;
        cursor: pointer;
    }
}

h1{
    text-align: center;
    margin-top: 100px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.product {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: $primaryWhite;
    width: 250px;
}

.message.warning {
    border-color: $primaryOrange;
    color: $black;
    background: $primaryOrange;
}

.message.success {
    border-color: green;
    color: $primaryWhite;
    background: green;
}